In [1]:
import pandas as pd  
import numpy as np 
import pickle

In [2]:
DATA_PATH='E:\\karim ahmed\\Data Science projects for profolio\\denna\\data\\survey_results_public.csv'

In [3]:
raw_df=pd.read_csv(DATA_PATH) 
df=raw_df.copy()

**preprocessing items** 

- we need to split skills with comma instead of semicolon and put values in list [HTML/CSS;Java;JavaScript;Python;SQL;TypeScript]

 

- we need to fix YearsCode and YearsCodePro as integer columns

In [4]:
def split_answers(data_series,delimiter=";") : 
    
    #check is there is multiple values
    def is_splittable(pd_series,delimiter) : 
        return pd_series.str.contains(delimiter) 
    #split them if exist 
    def split_answer(pd_series,delimiter) : 
        return pd_series.str.split(delimiter) 
        
    splittable_values=is_splittable(data_series,delimiter) 
    if not splittable_values.any() : 
        print('Not Splitable',data_series) 
        return data_series 
    else : 
        modified_series=split_answer(data_series,delimiter)  
        print("splittable\n",modified_series)
    print('check_nulls')
    mask_null=modified_series.isnull() 
    modified_series.loc[mask_null]=modified_series.loc[mask_null].apply(lambda x :[]) 
    
    return modified_series

In [5]:
object_cols=df.select_dtypes(include='object').columns.tolist() 
object_cols

['MainBranch',
 'Employment',
 'Country',
 'US_State',
 'UK_Country',
 'EdLevel',
 'Age1stCode',
 'LearnCode',
 'YearsCode',
 'YearsCodePro',
 'DevType',
 'OrgSize',
 'Currency',
 'CompFreq',
 'LanguageHaveWorkedWith',
 'LanguageWantToWorkWith',
 'DatabaseHaveWorkedWith',
 'DatabaseWantToWorkWith',
 'PlatformHaveWorkedWith',
 'PlatformWantToWorkWith',
 'WebframeHaveWorkedWith',
 'WebframeWantToWorkWith',
 'MiscTechHaveWorkedWith',
 'MiscTechWantToWorkWith',
 'ToolsTechHaveWorkedWith',
 'ToolsTechWantToWorkWith',
 'NEWCollabToolsHaveWorkedWith',
 'NEWCollabToolsWantToWorkWith',
 'OpSys',
 'NEWStuck',
 'NEWSOSites',
 'SOVisitFreq',
 'SOAccount',
 'SOPartFreq',
 'SOComm',
 'NEWOtherComms',
 'Age',
 'Gender',
 'Trans',
 'Sexuality',
 'Ethnicity',
 'Accessibility',
 'MentalHealth',
 'SurveyLength',
 'SurveyEase']

In [6]:
for col in object_cols : 
    df[col]=split_answers(df[col])

Not Splitable 0                           I am a developer by profession
1                   I am a student who is learning to code
2        I am not primarily a developer, but I write co...
3                           I am a developer by profession
4                           I am a developer by profession
                               ...
83434                       I am a developer by profession
83435                       I am a developer by profession
83436                       I am a developer by profession
83437                       I am a developer by profession
83438                       I am a developer by profession
Name: MainBranch, Length: 83439, dtype: object
Not Splitable 0        Independent contractor, freelancer, or self-em...
1                                       Student, full-time
2                                       Student, full-time
3                                       Employed full-time
4        Independent contractor, freelancer, or self-em...
                               ...
83434                                   Employed full-time
83435    Independent contractor, freelancer, or self-em...
83436                                   Employed full-time
83437                                   Employed full-time
83438                                   Employed full-time
Name: Employment, Length: 83439, dtype: object
Not Splitable 0                                                 Slovakia
1                                              Netherlands
2                                       Russian Federation
3                                                  Austria
4        United Kingdom of Great Britain and Northern I...
                               ...
83434                             United States of America
83435                                                Benin
83436                             United States of America
83437                                               Canada
83438                                               Brazil
Name: Country, Length: 83439, dtype: object
Not Splitable 0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
            ...
83434         Texas
83435           NaN
83436    New Jersey
83437           NaN
83438           NaN
Name: US_State, Length: 83439, dtype: object
Not Splitable 0            NaN
1            NaN
2            NaN
3            NaN
4        England
          ...
83434        NaN
83435        NaN
83436        NaN
83437        NaN
83438        NaN
Name: UK_Country, Length: 83439, dtype: object
Not Splitable 0        Secondary school (e.g. American high school, G...
1             Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2             Bachelor’s degree (B.A., B.S., B.Eng., etc.)
3          Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
4          Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
                               ...
83434         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
83435         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
83436    Secondary school (e.g. American high school, G...
83437         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
83438                   Professional degree (JD, MD, etc.)
Name: EdLevel, Length: 83439, dtype: object
Not Splitable 0        18 - 24 years
1        11 - 17 years
2        11 - 17 years
3        11 - 17 years
4         5 - 10 years
             ...
83434    11 - 17 years
83435    11 - 17 years
83436    11 - 17 years
83437    11 - 17 years
83438    11 - 17 years
Name: Age1stCode, Length: 83439, dtype: object
splittable
 0        [Coding Bootcamp, Other online resources (ex: ...
1        [Other online resources (ex: videos, blogs, et...
2        [Other online resources (ex: videos, blogs, et...
3                                                      NaN
4                                [Friend or family member]
                               ...
83434    [Other online resources (ex: videos, blogs, et...
83435    [Other online resources (ex: videos, blogs, et...
83436                                             [School]
83437    [Online Courses or Certification, Books / Phys...
83438                                             [School]
Name: LearnCode, Length: 83439, dtype: object
check_nulls
Not Splitable 0        NaN
1          7
2        NaN
3        NaN
4         17
        ...
83434      6
83435      4
83436     10
83437      5
83438     14
Name: YearsCode, Length: 83439, dtype: object
Not Splitable 0        NaN
1        NaN
2        NaN
3        NaN
4         10
        ...
83434      5
83435      2
83436      4
83437      3
83438      4
Name: YearsCodePro, Length: 83439, dtype: object
splittable
 0                                      [Developer, mobile]
1                                                      NaN
2                                                      NaN
3                                   [Developer, front-end]
4        [Developer, desktop or enterprise applications...
                               ...
83434                                [Developer, back-end]
83435                              [Developer, full-stack]
83436    [Data scientist or machine learning specialist...
83437                                [Developer, back-end]
83438    [Developer, front-end, Developer, full-stack, ...
Name: DevType, Length: 83439, dtype: object
check_nulls
Not Splitable 0                                       20 to 99 employees
1                                                      NaN
2                                                      NaN
3                                     100 to 499 employees
4        Just me - I am a freelancer, sole proprietor, ...
                               ...
83434                                   20 to 99 employees
83435    Just me - I am a freelancer, sole proprietor, ...
83436                             10,000 or more employees
83437                                   20 to 99 employees
83438                                         I don’t know
Name: OrgSize, Length: 83439, dtype: object
Not Splitable 0                  EUR European Euro
1                                NaN
2                                NaN
3                  EUR European Euro
4                GBP\tPound sterling
                    ...
83434      USD\tUnited States dollar
83435    XOF\tWest African CFA franc
83436      USD\tUnited States dollar
83437           CAD\tCanadian dollar
83438            BRL\tBrazilian real
Name: Currency, Length: 83439, dtype: object
Not Splitable 0        Monthly
1            NaN
2            NaN
3        Monthly
4            NaN
          ...
83434     Yearly
83435    Monthly
83436     Weekly
83437    Monthly
83438    Monthly
Name: CompFreq, Length: 83439, dtype: object
splittable
 0        [C++, HTML/CSS, JavaScript, Objective-C, PHP, ...
1                                     [JavaScript, Python]
2                           [Assembly, C, Python, R, Rust]
3                                 [JavaScript, TypeScript]
4                      [Bash/Shell, HTML/CSS, Python, SQL]
                               ...
83434                               [Clojure, Kotlin, SQL]
83435                                                  NaN
83436                               [Groovy, Java, Python]
83437            [Bash/Shell, JavaScript, Node.js, Python]
83438         [Delphi, Elixir, HTML/CSS, Java, JavaScript]
Name: LanguageHaveWorkedWith, Length: 83439, dtype: object
check_nulls
splittable
 0                                                  [Swift]
1                                                      NaN
2                                    [Julia, Python, Rust]
3                                 [JavaScript, TypeScript]
4                      [Bash/Shell, HTML/CSS, Python, SQL]
                               ...
83434                                            [Clojure]
83435                                                  NaN
83436                                       [Java, Python]
83437                                           [Go, Rust]
83438    [Elixir, HTML/CSS, Java, JavaScript, Node.js, ...
Name: LanguageWantToWorkWith, Length: 83439, dtype: object
check_nulls
splittable
 0                                     [PostgreSQL, SQLite]
1                                             [PostgreSQL]
2                                                 [SQLite]
3                                                      NaN
4                       [Elasticsearch, PostgreSQL, Redis]
                               ...
83434                                     [Oracle, SQLite]
83435    [Firebase, MariaDB, MySQL, PostgreSQL, Redis, ...
83436    [DynamoDB, Elasticsearch, MongoDB, PostgreSQL,...
83437    [Cassandra, Elasticsearch, MongoDB, PostgreSQL...
83438                                 [Oracle, PostgreSQL]
Name: DatabaseHaveWorkedWith, Length: 83439, dtype: object
check_nulls

splittable
 0                                                 [SQLite]
1                                                      NaN
2                                                 [SQLite]
3                                                      NaN
4            [Cassandra, Elasticsearch, PostgreSQL, Redis]
                               ...
83434                                             [SQLite]
83435    [Firebase, MariaDB, MongoDB, MySQL, PostgreSQL...
83436                                    [DynamoDB, Redis]
83437                                                  NaN
83438    [Elasticsearch, MongoDB, MySQL, Oracle, Postgr...
Name: DatabaseWantToWorkWith, Length: 83439, dtype: object
check_nulls
splittable
 0                                 NaN
1                                 NaN
2                            [Heroku]
3                                 NaN
4                                 NaN
                     ...
83434                           [AWS]
83435                             NaN
83436    [AWS, Google Cloud Platform]
83437                        [Heroku]
83438               [Microsoft Azure]
Name: PlatformHaveWorkedWith, Length: 83439, dtype: object
check_nulls
splittable
 0                        NaN
1                        NaN
2                        NaN
3                        NaN
4                        NaN
                ...
83434                  [AWS]
83435                    NaN
83436                  [AWS]
83437    [AWS, DigitalOcean]
83438                  [AWS]
Name: PlatformWantToWorkWith, Length: 83439, dtype: object
check_nulls
splittable
 0                                       [Laravel, Symfony]
1                                 [Angular, Flask, Vue.js]
2                                                  [Flask]
3                                        [Angular, jQuery]
4                                                  [Flask]
                               ...
83434                                                  NaN
83435    [Django, jQuery, Laravel, React.js, Ruby on Ra...
83436                                     [FastAPI, Flask]
83437                   [Django, Express, Flask, React.js]
83438                                    [Angular, Spring]
Name: WebframeHaveWorkedWith, Length: 83439, dtype: object
check_nulls
splittable
 0                                                      NaN
1                                                      NaN
2                                                  [Flask]
3                                        [Angular, jQuery]
4                                                  [Flask]
                               ...
83434                                                  NaN
83435    [Django, Express, jQuery, Laravel, React.js, R...
83436                                     [FastAPI, Flask]
83437                                                  NaN
83438                  [Express, Laravel, Spring, Symfony]
Name: WebframeWantToWorkWith, Length: 83439, dtype: object
check_nulls
splittable
 0                                               NaN
1                                         [Cordova]
2        [NumPy, Pandas, TensorFlow, Torch/PyTorch]
3                                               NaN
4             [Apache Spark, Hadoop, NumPy, Pandas]
                            ...
83434                                           NaN
83435                                 [Flutter, Qt]
83436                [Hadoop, Keras, NumPy, Pandas]
83437    [NumPy, Pandas, TensorFlow, Torch/PyTorch]
83438                                           NaN
Name: MiscTechHaveWorkedWith, Length: 83439, dtype: object
check_nulls
splittable
 0                                                      NaN
1                                                      NaN
2        [Keras, NumPy, Pandas, TensorFlow, Torch/PyTorch]
3                                                      NaN
4                                  [Hadoop, NumPy, Pandas]
                               ...
83434                                                  NaN
83435                                                  NaN
83436    [Apache Spark, Hadoop, Keras, NumPy, Pandas, T...
83437           [NumPy, Pandas, TensorFlow, Torch/PyTorch]
83438                                                  NaN
Name: MiscTechWantToWorkWith, Length: 83439, dtype: object
check_nulls
splittable
 0                                      NaN
1                      [Docker, Git, Yarn]
2                                      NaN
3                                      NaN
4          [Docker, Git, Kubernetes, Yarn]
                       ...
83434                        [Docker, Git]
83435       [Git, Unity 3D, Unreal Engine]
83436    [Ansible, Docker, Git, Terraform]
83437    [Ansible, Docker, Git, Terraform]
83438                        [Docker, Git]
Name: ToolsTechHaveWorkedWith, Length: 83439, dtype: object
check_nulls
splittable
 0                                         NaN
1                                       [Git]
2                                         NaN
3                                         NaN
4             [Docker, Git, Kubernetes, Yarn]
                         ...
83434                       [Git, Kubernetes]
83435               [Docker, Git, Kubernetes]
83436    [Docker, Git, Kubernetes, Terraform]
83437                 [Kubernetes, Terraform]
83438               [Docker, Git, Kubernetes]
Name: ToolsTechWantToWorkWith, Length: 83439, dtype: object
check_nulls
splittable
 0                                        [PHPStorm, Xcode]
1           [Android Studio, IntelliJ, Notepad++, PyCharm]
2        [IPython/Jupyter, PyCharm, RStudio, Sublime Te...
3                                                      NaN
4         [Atom, IPython/Jupyter, Notepad++, PyCharm, Vim]
                               ...
83434    [IntelliJ, Sublime Text, Vim, Visual Studio Code]
83435    [Android Studio, Eclipse, Emacs, IntelliJ, Net...
83436    [Android Studio, Eclipse, IntelliJ, IPython/Ju...
83437                              [PyCharm, Sublime Text]
83438                       [IntelliJ, Visual Studio Code]
Name: NEWCollabToolsHaveWorkedWith, Length: 83439, dtype: object
check_nulls
splittable
 0                                            [Atom, Xcode]
1                                                      NaN
2        [IPython/Jupyter, RStudio, Sublime Text, Visua...
3                                                      NaN
4        [Atom, IPython/Jupyter, Notepad++, PyCharm, Vi...
                               ...
83434                                  [Sublime Text, Vim]
83435    [Emacs, IntelliJ, PHPStorm, PyCharm, RStudio, ...
83436          [IntelliJ, IPython/Jupyter, Notepad++, Vim]
83437                                                  NaN
83438             [IntelliJ, PHPStorm, Visual Studio Code]
Name: NEWCollabToolsWantToWorkWith, Length: 83439, dtype: object
check_nulls
Not Splitable 0              MacOS
1            Windows
2              MacOS
3            Windows
4        Linux-based
            ...
83434          MacOS
83435    Linux-based
83436        Windows
83437          MacOS
83438    Linux-based
Name: OpSys, Length: 83439, dtype: object
splittable
 0        [Call a coworker or friend, Visit Stack Overfl...
1                        [Visit Stack Overflow, Google it]
2        [Visit Stack Overflow, Google it, Watch help /...
3        [Call a coworker or friend, Visit Stack Overfl...
4        [Visit Stack Overflow, Go for a walk or other ...
                               ...
83434               [Call a coworker or friend, Google it]
83435    [Call a coworker or friend, Visit Stack Overfl...
83436    [Call a coworker or friend, Visit Stack Overfl...
83437    [Call a coworker or friend, Visit Stack Overfl...
83438    [Call a coworker or friend, Visit Stack Overfl...
Name: NEWStuck, Length: 83439, dtype: object
check_nulls
splittable
 0                                         [Stack Overflow]
1                                         [Stack Overflow]
2                         [Stack Overflow, Stack Exchange]
3                                         [Stack Overflow]
4                         [Stack Overflow, Stack Exchange]
                               ...
83434                     [Stack Overflow, Stack Exchange]
83435                     [Stack Overflow, Stack Exchange]
83436                     [Stack Overflow, Stack Exchange]
83437                                     [Stack Overflow]
83438    [Stack Overflow, Stack Exchange, Stack Overflo...
Name: NEWSOSites, Length: 83439, dtype: object
check_nulls
Not Splitable 0                 Multiple times per day
1                  Daily or almost daily
2                 Multiple times per day
3                  Daily or almost daily
4                  Daily or almost daily
                      ...
83434               A few times per week
83435             Multiple times per day
83436               A few times per week
83437    A few times per month or weekly
83438               A few times per week
Name: SOVisitFreq, Length: 83439, dtype: object

Not Splitable 0        Yes
1        Yes
2        Yes
3        Yes
4        Yes
        ...
83434     No
83435    Yes
83436    Yes
83437    Yes
83438    Yes
Name: SOAccount, Length: 83439, dtype: object
Not Splitable 0                          A few times per month or weekly
1                                    Daily or almost daily
2                                   Multiple times per day
3                                    Daily or almost daily
4                                     A few times per week
                               ...
83434                                                  NaN
83435    I have never participated in Q&A on Stack Over...
83436    I have never participated in Q&A on Stack Over...
83437                  Less than once per month or monthly
83438                                 A few times per week
Name: SOPartFreq, Length: 83439, dtype: object
Not Splitable 0        Yes, definitely
1        Yes, definitely
2        Yes, definitely
3                Neutral
4          Yes, somewhat
              ...
83434     No, not at all
83435      Yes, somewhat
83436     No, not really
83437     No, not really
83438      Yes, somewhat
Name: SOComm, Length: 83439, dtype: object
Not Splitable 0         No
1         No
2        Yes
3         No
4         No
        ...
83434     No
83435     No
83436     No
83437     No
83438     No
Name: NEWOtherComms, Length: 83439, dtype: object
Not Splitable 0        25-34 years old
1        18-24 years old
2        18-24 years old
3        35-44 years old
4        25-34 years old
              ...
83434    25-34 years old
83435    18-24 years old
83436    25-34 years old
83437    25-34 years old
83438    18-24 years old
Name: Age, Length: 83439, dtype: object
splittable
 0        [Man]
1        [Man]
2        [Man]
3        [Man]
4        [Man]
         ...
83434    [Man]
83435    [Man]
83436    [Man]
83437    [Man]
83438    [Man]
Name: Gender, Length: 83439, dtype: object
check_nulls
Not Splitable 0        No
1        No
2        No
3        No
4        No
         ..
83434    No
83435    No
83436    No
83437    No
83438    No
Name: Trans, Length: 83439, dtype: object
splittable
 0        [Straight / Heterosexual]
1        [Straight / Heterosexual]
2              [Prefer not to say]
3        [Straight / Heterosexual]
4                              NaN
                   ...
83434    [Straight / Heterosexual]
83435    [Straight / Heterosexual]
83436                          NaN
83437    [Straight / Heterosexual]
83438    [Straight / Heterosexual]
Name: Sexuality, Length: 83439, dtype: object
check_nulls
splittable
 0        [White or of European descent]
1        [White or of European descent]
2                   [Prefer not to say]
3        [White or of European descent]
4        [White or of European descent]
                      ...
83434    [White or of European descent]
83435     [Black or of African descent]
83436    [White or of European descent]
83437    [White or of European descent]
83438          [Hispanic or Latino/a/x]
Name: Ethnicity, Length: 83439, dtype: object
check_nulls
splittable
 0                  [None of the above]
1                  [None of the above]
2                  [None of the above]
3        [I am deaf / hard of hearing]
4                  [None of the above]
                     ...
83434              [None of the above]
83435              [None of the above]
83436              [None of the above]
83437              [None of the above]
83438              [None of the above]
Name: Accessibility, Length: 83439, dtype: object
check_nulls
splittable
 0                                      [None of the above]
1                                      [None of the above]
2                                      [None of the above]
3                                                      NaN
4                                                      NaN
                               ...
83434    [I have a concentration and/or memory disorder...
83435                                  [None of the above]
83436                                  [None of the above]
83437    [I have a mood or emotional disorder (e.g. dep...
83438                                  [None of the above]
Name: MentalHealth, Length: 83439, dtype: object
check_nulls
Not Splitable 0        Appropriate in length
1        Appropriate in length
2        Appropriate in length
3        Appropriate in length
4        Appropriate in length
                 ...
83434    Appropriate in length
83435    Appropriate in length
83436    Appropriate in length
83437    Appropriate in length
83438    Appropriate in length
Name: SurveyLength, Length: 83439, dtype: object
Not Splitable 0                              Easy
1                              Easy
2                              Easy
3        Neither easy nor difficult
4                              Easy
                    ...
83434                          Easy
83435                          Easy
83436    Neither easy nor difficult
83437    Neither easy nor difficult
83438                          Easy
Name: SurveyEase, Length: 83439, dtype: object

In [7]:
i=df.sample(1).index[0] 
print(raw_df['LanguageHaveWorkedWith'].iloc[i])
print(df['LanguageHaveWorkedWith'].iloc[i])

Bash/Shell;C;C++;HTML/CSS;Python
['Bash/Shell', 'C', 'C++', 'HTML/CSS', 'Python']

--------------------------------------------

In [8]:
replace_dict={'YearsCodePro':{'Less than 1 year':0,'More than 50 years':51},
              'YearsCode':   {'Less than 1 year':0,'More than 50 years':51}}

In [9]:
for col in ['YearsCodePro','YearsCode'] : 
    df[col]=df[col].replace(replace_dict[col]).astype(np.float32)

In [10]:
df['YearsCodePro'].unique()

array([nan, 10.,  4.,  5.,  6.,  2., 30.,  9., 18., 12., 21.,  1., 16.,
        0., 15.,  3., 35.,  7.,  8., 17., 14., 26., 25., 20., 50., 34.,
       11., 24., 22., 13., 31., 23., 39., 41., 27., 28., 19., 33., 51.,
       37., 29., 32., 43., 40., 38., 45., 42., 46., 36., 44., 47., 48.,
       49.], dtype=float32)

In [11]:
df['YearsCode'].unique()

array([nan,  7., 17.,  3.,  4.,  6., 16., 12., 15., 10., 40.,  9., 26.,
       14., 39., 20.,  8., 19.,  5.,  0., 22.,  2.,  1., 34., 21., 13.,
       25., 24., 30., 31., 18., 38., 51., 27., 41., 42., 35., 23., 28.,
       11., 37., 44., 43., 36., 33., 45., 29., 50., 46., 32., 47., 49.,
       48.], dtype=float32)

In [16]:
df.to_pickle('../data/processed/1_preprocessed_df.pickle')